.fourthSection {
    padding: 5em 7% 9% 7%;
    flex-direction: column;
}

.fourthSection,
.appCard-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.appCard-container {
    flex-direction: row;
    padding-top: 1.3em;
}


