.firstSection {
    background: linear-gradient(180deg, #6F7DFB, #3B448F);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 9%;
}

.firstSection .leftSide {
    flex: 0 0 45%;
}

.firstSection .middle {
    flex: 0 0 25%;
}

.firstSection .rightSide {
    flex: 0 0 30%;
}

