.firstSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5em 5% 0 9%;
    overflow: hidden;
}

.firstSection > div {
    display: flex;
}

.firstSection .leftSide {
    flex: 0 0 40%;
}

.firstSection .middle {
    flex: 0 0 40%;
}

.firstSection .rightSide {
    flex: 0 0 60%;
}

.firstSection .middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8em;
    padding-top: 8em;
}

.firstSection .baloon {
    text-align: center;
    background-color: #FFFFFF;
    width: 13em;
    height: 5.125em;
    border-radius: 1.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    /* box-shadow: 0 4px 4px rgba(0,0,0, 25%), */
    box-shadow: 0 4px 4px linear-gradient(to right, #6F7DFB, #3B448F);
    margin: 0 0.5em 0.7em 0;
}

.firstSection .middle>div {
    display: flex;
    width: 100%;
}

.firstSection .middle> :first-child {
    justify-content: end;
}

.firstSection .middle> :nth-child(2) {
    width: 70%;
}

.baloon-box {
    background: linear-gradient(180deg, #6F7DFB, #3B448F);
    border-radius: 1.5em;
}

.rightSide img {
    padding: 4em 0 0 2em ;
    margin-bottom: -5px;
}


