.menu {
    display: none;
}

.menu.open {
    background-color: #070917;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2.5em;
}

.menu div {
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-seconde-menu {
    margin: auto;
}

.seconde-menu-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 2em;
}

.seconde-menu-options li:not(.enrollment) {
    font-size: 1.5em;
}


