/* Community's file for  resetting the browser's styles */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Estilo global da página  */

body {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1,
h2,
h3,
.testimonial-text,
h6 {
	font-weight: 900;
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

h1 {
	font-size: 3.75em;
}

h2 {
	font-size: 3.125em;
	line-height: 3.8rem;
	text-align: left;
	margin-bottom: 1.50rem;
}

h6 {
	font-size: 1.5em;
}

.rounded-edge {
	border-radius: 1.5em;
}

.font-normal-rale {
	font-family: "Raleway", sans-serif;
	font-size: 1.125em;
}

.textSetting {
	line-height: 2em;
	text-align: left;
	margin-bottom: 1.25em;
}

.textBig {
	font-size: 2.25em;
	font-weight: 700;
}

.textWhite {
	color: #FFFFFF;
}

.textBlue {
	color: #023047;
}

img {
	width: 100%;
}

.icon {
	width: 1em;
}

.icon-4x {
	width: 2rem;
}

.icon-7x {
	width: 7em;
}



.enrollment {
	background-color: #DA722C;
	width: 14em;
	height: 3.5em;
	border-radius: 1.5em;
	font-size: 1.125em;
	font-weight: 700;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 0.5em;
}

/* mobile */

@media screen and (max-width: 640px) {

	.cabecalho {
		padding: 13.25% 0 9.25% 0;
	}

	.menuOptions {
		display: none;
	}

	.logo {
		width: 4em;
	}

	#responsiveMenu {
		display: flex;
	}

	h2 {
		font-size: 2.25em;
		line-height: 3rem;
	}

	.textBig {
		font-size: 1.875em;
	}

	p {
		font-size: 0.875em;
	}

	.firstSection {
		flex-direction: column;
		overflow: hidden;
		padding: 7em 5% 0 9%;
	}

	.enrollment {
		font-size: 1em;
	}

	.firstSection .middle {
		gap: 3em;
		padding-top: 6em;
		z-index: 1;
		position: absolute;
	}

	.firstSection .baloon {
		width: 11em;
	}

	.firstSection .middle> :nth-child(2) {
		width: 85%;
	}

	.rightSide {
		z-index: auto;
		position: relative;
		left: 45%;
	}

	.rightSide img {
		padding: 0;
		width: 150%;
	}
}

/* tablet */

@media screen and (min-width: 640px) and (max-width: 1024px) {

	/* @media screen and (max-width: 1008px) { */

	.cabecalho {
		padding: 6.25% 0 3.25% 0;
		width: 90%;
		display: flex;
		justify-content: space-between;
	}

	.logo {
		width: 4em;
	}

	.menuOptions {
		gap: 0.7em;
	}

	.enrollment-btn,
	.enrollment>span {
		font-size: 1rem;
	}

	.firstSection {
		display: block;
		padding: 14em 13% 0 11%;
		overflow: hidden;
	}

	.firstSection .baloon {
		width: 11em;
	}

	.firstSection .middle> :nth-child(2) {
		width: 87%;
	}

	.rightSide img {
		width: 123%;
	}
}