/* Community's file for  resetting the browser's styles */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* global styles  */

body {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1,
h2,
h3,
.testimonial-text,
h6,
h4,
.card-caption-p {
	font-weight: 900;
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

h1 {
	font-size: 3.75em;
}

h2 {
	font-size: 3.125em;
	line-height: 3.8rem;
	text-align: left;
	margin-bottom: 1.50rem;
}

h6 {
	font-size: 1.5em;
}

p:not(.baloon>*) {
	line-height: 1.875em;
}

.rounded-edge {
	border-radius: 1.5em;
}

.font-normal-rale {
	font-family: "Raleway", sans-serif;
	font-size: 1.125em;
}

.textSetting {
	line-height: 2em;
	text-align: left;
	margin-bottom: 1.25em;
}

.textBig {
	font-size: 2.25em;
	font-weight: 700;
}

.firstSection,
.thirdSection {
	background: linear-gradient(180deg, #6F7DFB, #3B448F);
}

.textWhite {
	color: #FFFFFF;
}

.textBlue {
	color: #023047;
}

img {
	width: 100%;
}

.icon {
	width: 1em;
}

.icon-4x {
	width: 2rem;
}

.icon-7x {
	width: 7em;
}

.enrollment {
	background-color: #DA722C;
	width: 14em;
	height: 3.5em;
	border-radius: 1.5em;
	font-size: 1.125em;
	font-weight: 700;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 0.5em;
}

/* mobile */

@media screen and (max-width: 640px) {

	.cabecalho {
		padding: 13.25% 0 9.25% 0;
	}

	.menuOptions {
		display: none;
	}

	.logo {
		width: 4em;
	}

	#responsiveMenu {
		display: flex;
	}

	h1 {
		font-size: 1.875em;
	}

	h2 {
		font-size: 2.25em;
		line-height: 3rem;
	}

	.textBig {
		font-size: 1.875em;
	}

	.baloon> :nth-child(2),
	.font-normal-rale {
		font-size: 0.875em;
	}

	.firstSection {
		flex-direction: column;
		overflow: hidden;
		padding: 7em 5% 0 9%;
	}

	p,
	.enrollment {
		font-size: 1em;
	}

	.firstSection .middle {
		gap: 3em;
		padding-top: 6em;
		z-index: 1;
		position: absolute;
	}

	.firstSection .baloon {
		width: 11em;
	}

	.firstSection .middle> :nth-child(2) {
		width: 85%;
	}

	.rightSide {
		z-index: auto;
		position: relative;
		left: 45%;
	}

	.rightSide img {
		padding: 0;
		width: 150%;
	}

	h6 {
		font-size: 1.125em;
	}

	.box figure {
		margin: 0.8em -4em;
	}

	.all-cours .enrollment {
		width: 11em;
		height: 2.8em;
	}

	.decorative-ribbon::after {
		width: 1.5em;
		height: 29.5em;
		margin: -2.2em 0.7em 0.1em 3em;
	}

	.testimonials {
		gap: 2em;
	}

	.icon-7x {
		width: 6.5em;
	}

	.rigth-text .enrollment {
		margin: 0 60%;
	}

	.thirdSection {
		padding: 3em 0 9% 0;
	}

	.decorative-coursCard {
		width: 100%;
	}

	.container-coursCard {
		gap: 3.5em;
	}

	.decorative-coursCard::after {
		width: 84%;
	}

	.card-box-game h4 {
		font-size: 1.5em;
		flex: 0 0 72%;
	}

	.card-box-game figure figcaption {
		margin: 1em 1.5em 0.5em 1.5em;
	}

	.card-box-game {
		height: 21.5em;
	}

	.game-img {
		height: 13.375em;
		margin: 0 auto 0.5em auto;
	}

	.all-cours {
		padding: 0;
	}

	.fourthSection {
		padding: 5em 7% 20% 7%;
	}

	.fourthSection p {
		text-align: center;
	}

	.appCard-container {
		flex-direction: column;
		padding-top: 0;
	}

	.apps {
		padding: 1.2em 0 1.2em 1em;
		width: 17em;
	}

	.app-icon {
		width: 3.5em;
	}

	.footer-container {
		align-items: center;
		text-align: center;
		gap: 2em;
	}

	.footer-links {
		padding: 0;
	}

	.footer-box {
		flex-direction: column;
	}

	.footer-box-left {
		flex-direction: column;
		gap: 2em;
	}

	.icon-container {
		justify-content: center;
	}

	.email-forms {
		background-color: transparent;
		overflow: visible;
		height: 5.5em;
		width: 100%;
		align-items: center;
		flex-direction: column;
		gap: 0.5em;
	}

	.email-input {
		margin: 0.5em 2.5em 0.5em 2.5em;
		padding: 0.8em 1.2em;
	}

	.email-submit {
		padding: 0.4em 1.5em;
	}

	.copy {
		padding: 0 0 2em 0;
	}
}

/* tablet */

@media screen and (max-width: 1024px) {
	.secondSection {
		flex-direction: column-reverse;
		align-items: normal;
		padding: 5em 7% 17% 7%;
		gap: 5em;
	}

	/* .secondSection {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(2, 38%);
	}

	.item-2 {
		order: 2;
	}

	.item-3 {
		order: 3;
	} */


	.box {
		width: 100%;
		height: 11.5em;
	}

	.box-two {
		margin-left: 0;
	}

	.all-cours .enrollment {
		width: 12em;
		height: 3em;
	}

	.rigth-text .enrollment {
		width: 9em;
		height: 3em;
	}

	p:not(.baloon>*) {
		line-height: 1.85em;
	}

	.leftSide .enrollment {
		width: 13em;
		height: 3em;
	}

	.container-coursCard {
		flex-direction: column;
	}
}

@media screen and (min-width: 640px) and (max-width: 1024px) {

	.cabecalho {
		padding: 6.25% 0 3.25% 0;
		width: 90%;
		display: flex;
		justify-content: space-between;
	}

	.logo {
		width: 4em;
	}

	.menuOptions {
		gap: 0.7em;
	}

	.enrollment-btn,
	.enrollment>span {
		font-size: 1rem;
	}

	.all-cours {
		padding: 0 3em;
	}

	.firstSection {
		display: block;
		padding: 14em 13% 0 11%;
		overflow: hidden;
	}

	.firstSection .baloon {
		width: 11em;
	}

	.firstSection .middle> :nth-child(2) {
		width: 87%;
	}

	.rightSide img {
		width: 123%;
		padding: 0;
	}

	h1 {
		font-size: 2.5em;
	}

	.thirdSection {
		padding: 5em 0 7% 0;
	}

	.decorative-coursCard {
		width: 80%;
	}

	.container-coursCard {
		gap: 2em;
	}

	.rigth-text .enrollment {
		margin: 0 75.7%;
	}

	.footer-container {
		padding: 6% 0% 0% 8%;
	}

	.footer-box {
		flex-direction: column;
		align-items: flex-start;
	}

	.email-forms {
		width: 150%;
	}

	.copy {
		padding: 0 0 4em 0;
	}

}